.cm-s-tn.CodeMirror {
    @apply bg-brown-medium h-full w-full text-white rounded absolute inset-0 overflow-hidden pl-2
}
.cm-s-tn.CodeMirror {
    font-family: "Fira Code", monospace;
}

.cm-s-tn .CodeMirror-gutters {
    @apply bg-brown-medium rounded-none border-0
}
.cm-s-tn .CodeMirror-linenumber { @apply text-cream }

.cm-s-tn .CodeMirror-cursor { @apply border-white }

.cm-s-tn.cm-fat-cursor .CodeMirror-cursor,
.cm-s-tn .cm-animate-fat-cursor {
    @apply bg-white
}
.cm-s-tn.cm-fat-cursor .CodeMirror-cursors {
    z-index: 3;
}

.cm-s-tn .CodeMirror-overwrite .CodeMirror-cursor {
    @apply border-white w-auto
}

.cm-s-tn .CodeMirror-selected,
.cm-s-tn.CodeMirror-focused .CodeMirror-selected {
    @apply bg-white/10
}
.cm-s-tn .CodeMirror-line::selection,
.cm-s-tn .CodeMirror-line > span::selection,
.cm-s-tn .CodeMirror-line > span > span::selection {
    @apply bg-white/10
}

.cm-s-tn .CodeMirror-activeline-background {
    @apply bg-brown-light rounded-r
}
.cm-s-tn .CodeMirror-activeline-gutter {
    @apply bg-brown-light rounded-l
}

.cm-s-tn .CodeMirror-line::-moz-selection,
.cm-s-tn .CodeMirror-line > span::-moz-selection,
.cm-s-tn .CodeMirror-line > span > span::-moz-selection {
    @apply bg-brown-light
}

.cm-s-tn .cm-meta {
    @apply text-orange-light
}

.cm-s-tn .cm-property {
    @apply text-blue-light
}

.cm-s-tn .cm-header-1 { font-size: 160%; }
.cm-s-tn .cm-header-2 { font-size: 150%; }
.cm-s-tn .cm-header-3 { font-size: 140%; }
.cm-s-tn .cm-header-4 { font-size: 130%; }
.cm-s-tn .cm-header-5 { font-size: 120%; }
.cm-s-tn .cm-header-6 { font-size: 110%; }

.cm-s-tn .cm-header {
    @apply mr-2
}

.cm-s-tn .cm-strong, .cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6 {
    @apply text-orange-strong
}
.CodeMirror-foldmarker {
    @apply text-white cursor-pointer leading-6 pb-1 text-2xl
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    @apply cursor-pointer
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
